.container {
    border: 2px solid black;
    background-color: khaki;
    height: 3444px;
}

.box {
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#box3 {
    /* position: fixed;
    right: 4px;
    bottom: 2px ; */
    /* top: 34px;
    left: 134px; */
    position: sticky;
    top: 3px;


}