.container {
    border: 2px solid red;
    background-color: rgb(200, 227, 251);
    padding: 34px;
    margin: 34px auto;
    width: 666px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: blue;
    border: 2px solid black;
}

a:visited {
    background-color: yellow;
}

a:active {

    background-color: rgb(215, 100, 100);
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(172, 93, 246);
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 10px;
}

.btn:hover {
    color: rgb(208, 254, 41);
    background-color: brown;
    border: 2px solid black;
}