*{
    box-sizing: border-box;
}

header {
    
    margin: auto;
    border: 2px solid red;
    width: 1200;
}

img {
    margin: auto;
    display: block;
    width: 200px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    text-align: center;
}

.box {
    border: 4px solid black;
    background-color: grey;
    margin: 4px 0px;
    padding: 23px;
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 1200;
}