* {
 box-sizing: border-box;
}


body {
    font-family: "Ubuntu", sans-serif;
}


.container{
  width: 900px;
  border: 3px solid purple;
  margin: 33px auto;
  background-color: rgb(172, 245, 245);
}

.item {
    border: 3px solid grey;

    margin: 12px 3px;
    padding: 12px 3px;
    background: rgb(247, 180, 180);
}

#fruits{
   float: right;
   width: 48%;
}

#computer {
    float: left;
    width: 48%;
}

#stationary {
    /* float: left; */
    /* clear: both; */
    clear: left;
    width: 100%;
}

p, h3 {
    /* text-align: right;
    text-align: left;
    text-align: center; */
    text-align: justify;
}

h1 {
    margin: 23px auto; 
     width: 455px;
}